.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;   
}

.shopcatedory-indexSort {
    display: flex;
    margin: 0px 17px;
    justify-content: space-between;
    align-items: center;
}

.shopcartgory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcartgory-sort p span {
    font-weight: 600;
}

.shopcategory-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: rgb(169, 174, 184);
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 1500px) {
    .shopcategory-products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 760px) {
    .shopcategory-products {
        grid-template-columns: 1fr 1fr;
    }
}