.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: black;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}